<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/loader.js"></script>
</head>

<style>
    #loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3b5998; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: absolute;
            top:50%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        
        }
</style>
<body>
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 text-white">
                            Check  App
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="file-explorer" class="text-white">View File explorer</a> 
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <!-- Profile dropdown -->
                            <div class="ml-3 relative">
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" id="mobile-menu">

            </div>
        </nav>

        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl tracking-tight font-bold text-[#3b5998]">UML Student Copy AI-Checker App</h1>
            </div>
        </header>
        <main class="ml-5">
           <div id="dataRender" class="w-1/4"></div>

           <% responseData %>
        </main> 
    </div>
 
</body>

<script>
    const data = <%- JSON.stringify(responseData.data.choices[0].text) %>;
    let text = `test`;

    // Render the Bucket List in the HTML
    function  renderData(dataItem) {
        //start loader spinner
        startLoaderSpinner();

        const dataRender = document.getElementById("dataRender");
        dataRender.innerHTML = dataItem;

        console.log(dataItem);
        //stop loader spinner
        stopLoaderSpinner();
      
    }
    //init
    renderData(data);

</script>

</html>